.activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  min-height: 290px;
}

.activity-heading {
  margin-bottom: 40px;
}

.activity-heading > p {
  font-size: 12px;
  font-weight: 200;
}

.activity-misc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.activity-misc > div {
  display: flex;
  align-items: center;
}

.icon {
    margin-right: 10px;
}

@media screen and (min-width: 992px) {
  .activity {
    width: 40%;
    height: 300px;
  }
}