.app-footer {
  width: 100%;
  padding: 20px;
  bottom: 0;
  margin-top: 40px;
}

.footer-text {
  font-size: 12px;
  font-weight: 300;
}

.footer-buttons {
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.social-media-button {
  cursor: pointer;
}

.social-media-button > a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 992px) {
  .footer-buttons {
    width: 10%;
  }
}