.guide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.guide-icon {
  animation: grow 4s ease forwards infinite;
  display: inherit;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.guide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background: white;
  color: black;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.guide-inner {
  padding: 20px;
}

.guide-inner > ul {
  list-style-type: none;
  text-align: left;
}

.guide-inner > h3, li {
  margin-bottom: 5px
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
